name: test
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
env:
  GO111MODULE: "on"
jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.13.x, 1.14.x, 1.15.x ]
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            vendor
            _examples/vendor
          key: ${{ runner.os }}-go-vendor-${{ hashFiles('**/go.mod') }}
      - name: Populate dependencies
        run: '(test -d vendor && echo vendor found) || (go mod vendor && cd _examples && go mod vendor)'
      - name: Test
        run: make test-unit
      - name: Upload code coverage
        if: matrix.go-version == '1.15.x'
        uses: codecov/codecov-action@v1
        with:
          file: ./unit.coverprofile
          flags: unittests
      - name: Test Examples
        run: make test-examples
